html{
    height: 100%;
    width: 100%;
    font-family: mochiy-pop-p, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:0;
}

body{
    height: 100%;
    width: 100%;
    font-size: 450px;
    background-color: #fff;
    color: #0D1131;
    margin: 0 auto;
    text-align:center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    body{
        font-size: 300px;
    }
}

script{
    /*position:absolute;*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    z-index: 1;
}

.full {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(photos/card.png)
      center / cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

p{ /*test*/
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0;
    text-align: center;
    z-index:1;
}

